header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

body
{
	padding-left: 13%;
	padding-right: 13%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
}

.bloc_page
{
	display: flex;
	justify-content: space-between;
}

h1
{
	font-size: 1.1em;
	font-weight: bold;
}
h2
{
	font-size: 1.4em;
	font-weight: bold;
}

h3
{
	font-size: 1em;
	font-weight: bold;
}

em
{
	font-weight: bold;
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	background-color: white;
	display: flex;
	width: 120px;
	height: 56px;
	border-radius: 0px 0px 8px 8px;
	transition: 0.4s;
}

nav li:nth-child(1)
{
	border-top: 2px solid #0065fc;
}

nav li:hover
{
	background-color: #0065fc;
}

nav li a
{	
	text-decoration: none;
	margin: auto;
	align-self: flex-end;
	color: #0065fc;
	font-size: 13px;
	font-weight: 300;
	transition: 0.4s;
}

nav li a:nth-child(2)
{
	color: #black;
}

nav li a:nth-child(3)
{
	font-weight: bold;
}

nav li a:hover
{
	color: white;
	font-weight: bold;
}

.filters
{
	display: flex;
}

.filt
{
	display: flex;
}

.srch
{
	display: flex;
}

#srchinput
{
	padding-left: 10px;
	font-family: "raleway";
	font-size: 13px;
	font-weight: bold;
	border: 1px solid #f2f2f2;
	width: 170px;
	height: 40px;
}

.rchbttn
{
	display: flex;
	flex-wrap: wrap;
	background: #0065fc;
	justify-content: space-around;
	color: white;
	border-radius: 0em 0.85em 0.85em 0em;
	width: 100px;
	height: 40px;
	font-family: "raleway";
	font-size: 14px;
	font-weight: 500;
}

.rchbttn p
{
	margin: auto;
}

section
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hebergmts
{
	display: flex;
	padding-top: 2em;
	flex-wrap: wrap;
	justify-content: start;
	background-color: #f2f2f2;
	width: 730px;
	height: 520px;
	border-radius: 1.2em;
}

.hebergmts h2
{
	margin-left: 2em;
}

.vignettes1
{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 52.5em;
	height: 31.5em;
}

.vign1
{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	width: 185px;
	height: 12em;
	border: 4px solid white;
	border-radius: 1.2em;
	box-shadow: 0.2em 0.05em 0.5em rgba(200, 200, 200, 30);
}

.vign1:hover
{
	transform: translate(0em, -0.38em);
}
.vign1
{
	transition: transform 250ms ease-in-out;
}

.imgv1
{
	background-size: cover;
	border-radius: 1em 1em 0em 0em;
	width: 185px;
	height: 87px;
}

.vign1p
{
	display: flex;
	flex-direction: column;
	padding-left: 0.5em;
}

.vign1p p
{
	margin-top: -10px;
	font-size: 0.8em;
}

.popular
{
	display: flex;
	padding-top: 2em;
	flex-wrap: wrap;
	align-items: center;
	background-color: #f2f2f2;
	width: 320px;
	height: 520px;
	border-radius: 1.2em;
}

.popular h2
{
	margin-left: 2em;
}

.vignettes2
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 45em;
	height: 36em;
}

.vign2
{
	margin: auto;
	display: flex;
	background-color: white;
	width: 245px;
	height: 100px;
	border: 4px solid white;
	border-radius: 1.2em;
	box-shadow: 0.2em 0.05em 0.5em rgba(200, 200, 200, 30);
}

.vign2:hover
{
	transform: translate(0em, -0.38em);
}
.vign2
{
	transition: transform 250ms ease-in-out;
}

.imgv2
{
	background-size: cover;
	margin: auto;
	border-radius: 1em 0em 0em 1em;
	height: 100px;
	width: 170px;
}

.vign2p
{
	margin-left: 10px;
	width: 200px;
	display: flex;
	flex-direction: column;
}

.vign2p p
{
	margin-top: -10px;
	font-size: 0.8em;
}

.activites
{
	margin-top: 2em;
	padding-top: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 35em;
}

.activites h3
{
	padding-left: 1.2em;
}

.vignettes3
{
	margin-top: -5em;
	padding-left: -1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 25.3em;
}

.vign3_1
{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	width: 18.3em;
	height: 25.3em;
	border-radius: 1.2em;
	box-shadow: 0.2em 0.05em 0.5em rgba(200, 200, 200, 30);
}

.vign3_1:hover
{
	transform: translate(0em, -0.38em);
}
.vign3_1
{
	transition: transform 250ms ease-in-out;
}

.imgv3_1
{
	background-size: cover;
	border-radius: 1.2em 1.2em 0em 0em;
	width: 18.3em;
	height: 22em;
}

.vign3_2
{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	width: 18.3em;
	height: 13em;
	border-radius: 1.2em;
	box-shadow: 0.2em 0.05em 0.5em rgba(200, 200, 200, 30);
}

.vign3_2:hover
{
	transform: translate(0em, -0.38em);
}
.vign3_2
{
	transition: transform 250ms ease-in-out;
}

.imgv3_2
{
	background-size: cover;
	margin: auto;
	border-radius: 1.2em 1.2em 0em 0em;
	width: 18.3em;
}

.vign3_3
{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	width: 18.3em;
	height: 9em;
	border-radius: 1.2em;
	box-shadow: 0.2em 0.05em 0.5em rgba(200, 200, 200, 30);
}

.vign3_3:hover
{
	transform: translate(0em, -0.38em);
}
.vign3_3
{
	transition: transform 250ms ease-in-out;
}

.imgv3_3
{
	background-size: cover;
	margin: auto;
	border-radius: 1.2em 1.2em 0em 0em;
	width: 18.3em;
}

.vign3_4
{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	width: 18.3em;
	height: 8em;
	border-radius: 1.2em;
	box-shadow: 0.2em 0.05em 0.5em rgba(200, 200, 200, 30);
}

.vign3_4:hover
{
	transform: translate(0em, -0.38em);
}
.vign3_4
{
	transition: transform 250ms ease-in-out;
}

.imgv3_4
{
	background-size: cover;
	margin: auto;
	border-radius: 1.2em 1.2em 0em 0em;
	width: 18.3em;
}